workflows/Module 3.1.1.json
{
  "name": "Module 3.1.1",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "orders",
        "responseMode": "lastNode",
        "responseData": "allEntries",
        "options": {}
      },
      "id": "b3be6248-7266-4a33-9f7b-f3c2e1768417",
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        2544,
        2224
      ],
      "webhookId": "example-webhook-id-orders"
    },
    {
      "parameters": {
        "jsCode": "// Add order category\nconst item = $input.first().json;\n\n// Извлекаем данные из item.body, если есть\nconst data = item.body || item;\n\n// Приводим amount к числу\nconst amount = Number(data.amount);\n\nif (amount > 1000) {\n  data.category = 'VIP';\n} else if (amount >= 500) {\n  data.category = 'Regular';\n} else {\n  data.category = 'Ignored';\n}\n\n// Возвращаем обновлённые данные\nreturn { json: data };"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2800,
        2224
      ],
      "id": "5802d989-17c3-4488-a292-476023d07ee2",
      "name": "Add category"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": " ",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "id": "condition-1",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "singleValue": true
                    },
                    "leftValue": "={{ $json.category }}",
                    "rightValue": "VIP"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": " ",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "id": "condition-2",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "singleValue": true
                    },
                    "leftValue": "={{ $json.category }}",
                    "rightValue": "Regular"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": " ",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "id": "condition-3",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "singleValue": true
                    },
                    "leftValue": "={{ $json.category }}",
                    "rightValue": "Ignored"
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "id": "b5a0955f-9967-4419-afa2-e9034c83c3b1",
      "name": "Categorize Orders",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3,
      "position": [
        3248,
        2272
      ]
    },
    {
      "parameters": {
        "chatId": "1512571026",
        "text": "=Новый VIP заказ: {{ $json.orderId }}\nКлиент: {{ $json.customerName }}\nСумма: {{ $json.amount }} руб.\nКатегория: {{ $json.category }}",
        "additionalFields": {}
      },
      "id": "02273fdf-9cfb-4dbd-9488-16688becb6a1",
      "name": "Send VIP Notification",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1,
      "position": [
        3504,
        2080
      ],
      "webhookId": "72bd0cd0-3858-4526-864c-3e31761d0c95",
      "credentials": {
        "telegramApi": {
          "id": "jskKNTx4MuBNweYO",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "1512571026",
        "text": "=Новый заказ: {{ $json.orderId }}\nКлиент: {{ $json.customerName }}\nСумма: {{ $json.amount }} руб.\nКатегория: {{ $json.category }}",
        "additionalFields": {}
      },
      "id": "65debb06-29ca-4ddc-9ef9-9aa39fcec1ae",
      "name": "Send Regular Notification",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1,
      "position": [
        3504,
        2272
      ],
      "webhookId": "12d913ed-3782-40ba-b229-b1559f5e365d",
      "credentials": {
        "telegramApi": {
          "id": "jskKNTx4MuBNweYO",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {},
      "id": "a83b6db8-a57c-446c-b783-b8e58a238afc",
      "name": "Ignore Order",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        3504,
        2480
      ]
    },
    {
      "parameters": {
        "jsCode": "// Prepare data for Google Sheets\nconst items = $input.all();\n\nconst processed = items.map(item => ({\n  orderId: item.json.orderId,\n  customerName: item.json.customerName,\n  amount: item.json.amount,\n  category: item.json.category,\n  processedAt: new Date().toISOString()\n}));\n\nreturn processed;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3072,
        2560
      ],
      "id": "a91a959e-4bd6-41f1-8a27-71dd86fe8e2b",
      "name": "Prepare for Sheets"
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "1t2ndlWb65IGqT0SOD38tirvVjNr8on4FjHBv9-NkLuU",
          "mode": ""
        },
        "sheetName": {
          "__rl": true,
          "mode": "name",
          "value": "Лист1"
        },
        "columns": {
          "mappingMode": "autoMapInputData",
          "value": {},
          "matchingColumns": [],
          "schema": [
            {
              "id": "orderID",
              "displayName": "orderID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "customerName",
              "displayName": "customerName",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "amount",
              "displayName": "amount",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "category",
              "displayName": "category",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "processedAt",
              "displayName": "processedAt",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false,
          "values": [
            {
              "columnName": "orderId",
              "columnValue": "={{ $json.orderId }}"
            },
            {
              "columnName": "customerName",
              "columnValue": "={{ $json.customerName }}"
            },
            {
              "columnName": "amount",
              "columnValue": "={{ $json.amount }}"
            },
            {
              "columnName": "category",
              "columnValue": "={{ $json.category }}"
            },
            {
              "columnName": "processedAt",
              "columnValue": "={{ $json.processedAt }}"
            }
          ]
        },
        "options": {}
      },
      "id": "313adc08-30ac-4d74-bf80-9555b8428674",
      "name": "Google Sheets",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [
        3312,
        2560
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "2DXWDr5IbVF6MtGs",
          "name": "Google Sheets account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook Trigger": {
      "main": [
        [
          {
            "node": "Add category",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Add category": {
      "main": [
        [
          {
            "node": "Categorize Orders",
            "type": "main",
            "index": 0
          },
          {
            "node": "Prepare for Sheets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Categorize Orders": {
      "main": [
        [
          {
            "node": "Send VIP Notification",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send Regular Notification",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Ignore Order",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare for Sheets": {
      "main": [
        [
          {
            "node": "Google Sheets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "9a36e967-ddd6-4080-84cb-60347c15f9a4",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "804cc77d554e39a25accec1fdaae2b795cc04b4e9d1be25967d2eff44b2bb240"
  },
  "id": "XWerAKvLXxCjIleNVCNOJ",
  "tags": []
}