workflows/notion.json
{
  "nodes": [
    {
      "parameters": {
        "operation": "get",
        "resource": "page",
        "pageId": "={{ $json.pageId }}"
      },
      "id": "a1b2c3d4-e5f6-7890-abcd-ef1234567890",
      "name": "Notion - Get Page",
      "type": "n8n-nodes-base.notion",
      "typeVersion": "1",
      "position": [240, 300],
      "credentials": {
        "notionApi": "Notion - n8n workflow"
      }
    },
    {
      "parameters": {
        "operation": "retrieveAllChildren",
        "resource": "block",
        "parentId": "={{ $json.id }}"
      },
      "id": "b2c3d4e5-f6g7-8901-bcde-f12345678901",
      "name": "Notion - Get Page Blocks",
      "type": "n8n-nodes-base.notion",
      "typeVersion": "1",
      "position": [480, 300],
      "credentials": {
        "notionApi": "Notion - n8n workflow"
      }
    },
    {
      "parameters": {
        "code": "const blocks = $input.all()[0].json.results || [];\n\nfunction blockToText(block) {\\n  const { type } = block;\\n  const content = block[type];\\n\\n  if (!content) return '';\\n\\n  switch (type) {\\n    case 'heading_1':\\n      return `# ${content.text?.[0]?.text?.content || ''}\\n\\n`;\\n    case 'heading_2':\\n      return `## ${content.text?.[0]?.text?.content || ''}\\n\\n`;\\n    case 'heading_3':\\n      return `### ${content.text?.[0]?.text?.content || ''}\\n\\n`;\\n    case 'paragraph':\\n      return `${content.text?.[0]?.text?.content || ''}\\n\\n`;\\n    case 'bulleted_list_item':\\n      return `• ${content.text?.[0]?.text?.content || ''}\\n`;\\n    case 'numbered_list_item':\\n      return `${content.text?.[0]?.text?.content || ''}\\n`;\\n    case 'quote':\\n      return `> ${content.text?.[0]?.text?.content || ''}\\n\\n`;\\n    case 'code':\\n      return \\`\\`\\`\\${content.language || ''}\\n${content.text?.[0]?.text?.content || ''}\\n\\`\\`\\`\\n\\n`;\\n    case 'divider':\\n      return '---\\n';\\n    default:\\n      return `[${type}]\\n`;\\n  }\\n}\\n\\nlet text = '';\\nfor (const block of blocks) {\\n  text += blockToText(block);\\n}\\n\\nreturn [{\\n  json: {\\n    title: $input.all()[0].json.properties?.Name?.title?.[0]?.plain_text || 'Notion Document',\\n    content: text.trim()\\n  }\\n}];"
      },
      "id": "c3d4e5f6-g7h8-9012-cdef-123456789012",
      "name": "Parse Notion Blocks to Text",
      "type": "n8n-nodes-base.function",
      "typeVersion": "1",
      "position": [720, 300]
    },
    {
      "parameters": {
        "operation": "create",
        "resource": "document",
        "title": "={{ $json.title }}",
        "content": "={{ $json.content }}"
      },
      "id": "d4e5f6g7-h8i9-0123-defg-234567890123",
      "name": "Google Docs - Create Document",
      "type": "n8n-nodes-base.googledocs",
      "typeVersion": "1",
      "position": [960, 300],
      "credentials": {
        "googleDocsOAuth2": "Google Docs - Personal"
      }
    }
  ],
  "connections": {
    "Notion - Get Page": {
      "main": [
        [
          {
            "node": "Notion - Get Page Blocks",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Notion - Get Page Blocks": {
      "main": [
        [
          {
            "node": "Parse Notion Blocks to Text",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Notion Blocks to Text": {
      "main": [
        [
          {
            "node": "Google Docs - Create Document",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {
    "Notion - Get Page": [
      {
        "id": "pageId",
        "value": "your-page-id-here"
      }
    ]
  },
  "meta": {
    "instanceId": "your-instance-id"
  }
}