workflows/Глобальный обработчик ошибок.json
{
  "name": "Глобальный обработчик ошибок",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.errorTrigger",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "c505df1c-7897-4409-be03-494ac31eb095",
      "name": "Error Trigger"
    },
    {
      "parameters": {
        "jsCode": "const executionData = $input.first().json;\nconst errorRecord = {\n  workflow_name: executionData.workflow?.name || executionData.workflowName || \"Unknown\",\n  workflow_id: executionData.workflow?.id || executionData.workflowId || \"\",\n  execution_id: executionData.execution?.id || executionData.executionId || \"\",\n  error_message: executionData.error?.message || executionData.errorMessage || \"No message\",\n  error_stack: executionData.error?.stack || executionData.errorStack || \"\",\n  node_name: executionData.error?.node || executionData.nodeName || \"Unknown\",\n  full_data: executionData  // сохраняем всё как JSON\n};\n\n// Выводим в логи для отладки\nconsole.log(\"📝 Данные для PostgreSQL:\", errorRecord);\n\n// Возвращаем в формате, который ожидает Postgres node\nreturn [{\n  json: errorRecord\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        208,
        0
      ],
      "id": "ccd8d83e-4143-40b7-a24d-c8a62aca142c",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "error_log",
          "mode": "list",
          "cachedResultName": "error_log"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "id": 0,
            "workflow_name": "={{ $json.workflow_name }}",
            "workflow_id": "={{ $json.workflow_id }}",
            "execution_id": "={{ $json.execution_id }}",
            "error_message": "=\t{{ $json.error_message }}",
            "error_stack": "=\t{{ $json.error_stack }}",
            "node_name": "=\t{{ $json.node_name }}",
            "full_data": "={{ $json.full_data }}"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "workflow_name",
              "displayName": "workflow_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "workflow_id",
              "displayName": "workflow_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "execution_id",
              "displayName": "execution_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "error_message",
              "displayName": "error_message",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "error_stack",
              "displayName": "error_stack",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "node_name",
              "displayName": "node_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "full_data",
              "displayName": "full_data",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "object",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        416,
        0
      ],
      "id": "e5bd04fc-6a93-44e8-a999-5af69bd151d5",
      "name": "Insert rows in a table",
      "credentials": {
        "postgres": {
          "id": "6n1Frk6yxWgzVIQI",
          "name": "Postgres account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Error Trigger": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Insert rows in a table",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false,
    "timeSavedMode": "fixed",
    "callerPolicy": "workflowsFromSameOwner",
    "executionTimeout": -1
  },
  "versionId": "6c7df250-a363-4aea-bdd6-785d5071b5d1",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "804cc77d554e39a25accec1fdaae2b795cc04b4e9d1be25967d2eff44b2bb240"
  },
  "id": "V2f5H6HwDPzn6aUP",
  "tags": []
}